*
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: rgb(14, 128, 128);
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
}
.container
{
    background-color: snow;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 800px;
    padding: 50px  50px;
    text-align: center;
}

/* --------- Index Page ---------- */

.head-blog
{
    font-family: 'system UI', serif;
   margin-bottom: 20px;
    padding-top: 20px;
}

span
{
    color: red;
}
h2
{
    color: rgb(8, 5, 17);
    font-weight: 400 !important;
    margin-top: -65px;

}
#postList
{
    column-count: 2;
    gap: 90px;
    margin-top: 25px;
}

li {
    list-style: none;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}
#edit-post, #delete-post, #newPost
{
    color: gray;
    font-size: 20px;
    text-decoration: none;
}

#delete-post
{
    color: rgb(244, 133, 133);
}


#postList,
h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
}

#postList >li
,small
{
    color: gray;
    margin: 25px 0;
}
/* --------- BlogPage Here -------- */


.blog-class {
    cursor: pointer;
    color: #fff;
    margin: 20px 0;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

input,
textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    margin: 8px auto;
    padding: 16px;
    transition: border 0.3s;
    width: 700px;
}

.w-btn {
    background: #eead4b;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 1rem 18rem;
}
.blog-edit
{
    max-height: 800px;
    max-width: 500px;
}

#input-edit
{
    color: red;
    position: relative;
}
/* ------- Footer Here --------- */

.footer-class {
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}



@media screen and (max-width: 680px){
    .container
    {
        margin: 80px 30px;
        max-width: 400px;
        padding: 5px 10px;
    }
    #postList
    {
        column-count: 1;
        gap: 20px;
    }
    
          #input-txt,
          #input-txtarea {
          
              max-width: 355px;
          }
    
          .w-btn {
              padding: 2px 140px;
              text-align: center;
          }
}


